@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=PT+Sans:wght@700&family=Roboto:wght@300;500&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  color: #2D2D2D;
  background-color: #FFFFFF;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4em;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 220px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FCB427;
}
.btn:hover, .btn:active {
  background-color: #FF971D;
}

.btn--transparent {
  color: #2D2D2D;
  background-color: transparent;
  border: 1px solid #FCB427;
}

.slider-control {
  width: 120px;
  margin-left: auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-control button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #FCB427;
  background-color: transparent;
}
.slider-control button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 30px;
  height: 8px;
  background-image: url(../img/svg/arrow-long.svg);
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider-control button.btn-prew::after {
  left: 75%;
  -webkit-transform: rotateY(180deg) translateY(-50%);
          transform: rotateY(180deg) translateY(-50%);
}

/*                INDEX              */
/*                INDEX              */
/*                INDEX              */
/*                HEADER              */
.header__top {
  font-size: 14px;
  color: #FFFFFF;
  background-color: #2D2D2D;
}

.header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  width: 205px;
  height: 43px;
  color: #FFFFFF;
}

.header__phone {
  width: 145px;
  font-size: 16px;
}

.header__time,
.header__adress,
.header__phone {
  position: relative;
}
.header__time::after,
.header__adress::after,
.header__phone::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  width: 25px;
  height: 25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/svg/clock.svg);
  background-repeat: no-repeat;
}

.header__adress::after {
  background-image: url(../img/svg/point.svg);
}

.header__phone::after {
  background-image: url(../img/svg/phone.svg);
}

.header__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 25px 0;
  font-weight: 500;
}

.header__item.header__item--active {
  font-weight: 500;
  color: #000000;
  border-bottom: 2px solid #FCB427;
}

.header__search {
  position: relative;
}
.header__search input {
  width: 270px;
  height: 30px;
  padding-left: 15px;
  outline: none;
  background: transparent;
  border: 1px solid rgba(45, 45, 45, 0.6);
}
.header__search button {
  position: absolute;
  top: 50%;
  right: 0;
  height: 30px;
  width: 30px;
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
}

/*                OFFER              */
.offer {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__container {
  position: relative;
  height: 600px;
  min-width: 100%;
  background-image: url(../img/offer/offer.jpg);
  background-repeat: no-repeat;
  -webkit-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
  transition: all 3s ease-in;
}

.offer__content {
  max-width: 50%;
  height: 100%;
  padding-left: 215px;
  padding-top: 100px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.offer__title {
  font-family: "PT Sans", sans-serif;
  font-size: 44px;
  line-height: 1.4;
}

.offer__text {
  margin-bottom: 25px;
}

.offer__btn {
  margin-right: 25px;
}
.offer__btn:last-child {
  border: 1px solid #2D2D2D;
}

.offer__slider-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__btn button {
  width: 66px;
  height: 66px;
  background-color: #FCB427;
  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.slider__btn button.no-active {
  background-color: #C4C4C4;
}

.slider__btn-next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/*                TEXHNIC              */
.technic {
  width: 100%;
  height: 790px;
}

/*                ADVANTAGES              */
.advantages-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.advantages__title {
  margin-bottom: 60px;
}

.advantages__text-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.advantages__text {
  margin-bottom: 30px;
}

.advantages__list {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.advantages__item {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-top: 100px;
}
.advantages__item::after {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 75px;
  height: 75px;
  background-image: url(../img/svg/advantages/advantages-1.svg);
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.advantages__item:nth-child(2):after {
  background-image: url(../img/svg/advantages/advantages-2.svg);
}
.advantages__item:nth-child(3):after {
  background-image: url(../img/svg/advantages/advantages-3.svg);
}
.advantages__item:nth-child(4):after {
  background-image: url(../img/svg/advantages/advantages-4.svg);
}

.advantages__btn {
  margin-bottom: 50px;
}

.advantages__statistic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15%;
     -moz-column-gap: 15%;
          column-gap: 15%;
  width: 100%;
  margin-bottom: 170px;
  background-color: #2D2D2D;
  background-image: url(../img/svg/advantages/advantages-bg-top.svg);
  background-repeat: no-repeat;
}
.advantages__statistic::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-image: url(../img/svg/advantages/advantages-bg-bot.svg);
}

.advantages__statistic-item {
  margin: 100px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.advantages__statistic-item span {
  display: block;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 70px;
  color: #2D2D2D;
  -webkit-text-stroke: 1px #FFFFFF;
}

/*                PROJECTS              */
.projects {
  width: 100%;
  height: 1080px;
}

/*                CATALOG              */
.catalog {
  margin-bottom: 120px;
}

.catalog__title {
  margin-bottom: 10px;
}

.catalog__container {
  margin-bottom: 20px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  overflow: hidden;
}

.card {
  min-width: 370px;
}

.card__container {
  padding: 0 30px;
}

.card__title {
  position: relative;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
}
.card__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 370px;
  height: 1px;
  background-color: rgba(252, 209, 39, 0.5);
}

.card__description td {
  padding-bottom: 15px;
  padding-right: 10px;
}

.card__link {
  position: relative;
  top: -10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.card__btn {
  width: 100%;
  margin-bottom: 30px;
}

.catalog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

/*                COST             */
.cost {
  position: relative;
  padding-top: 30px;
  margin-bottom: 50px;
  color: #FFFFFF;
  background-color: #2D2D2D;
  background-image: url(../img/svg/lines-bg-top.svg);
  background-repeat: no-repeat;
}
.cost::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-image: url(../img/svg/lines-bg-bot.svg);
}

.cost__title {
  margin-bottom: 60px;
}

.cost__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
}

.cost__item {
  margin-bottom: 80px;
}

.cost__text span {
  position: relative;
  z-index: 1;
  left: 60px;
  display: block;
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: 500;
  text-align: left;
}
.cost__text span::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -20px;
  width: 130px;
  height: 75px;
  background-image: url(../img/svg/01.svg);
  background-repeat: no-repeat;
}
.cost__text span.cost__text--2::after {
  background-image: url(../img/svg/02.svg);
}
.cost__text span.cost__text--3::after {
  background-image: url(../img/svg/03.svg);
}
.cost__text span.cost__text--4::after {
  background-image: url(../img/svg/04.svg);
}

/*                CALL              */
.call {
  margin-bottom: 160px;
  background-image: url(../img/svg/call-bg.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  border-top: 30px solid #FCD127;
  border-bottom: 30px solid #FCD127;
}

.call__title {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 33px;
}
.call__title span {
  color: #FCB427;
}

.call__form input, .call__form button {
  width: 300px;
  height: 50px;
  margin-right: 30px;
  padding-left: 15px;
}
.call__form .call__check input {
  display: block;
  width: 18px;
  height: 18px;
}

.call__check {
  position: relative;
  display: block;
  max-width: 420px;
  padding-left: 30px;
  margin-bottom: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
}
.call__check .main-check__box {
  position: absolute;
  left: 0;
  top: 50%;
}

.main-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.main-check__box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #535554;
  border-radius: 2px;
}

.main-check:checked + .main-check__box {
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-check:focus + .main-check__box {
  border: 1px solid #FF971D;
}

/*                ABOUT              */
.about {
  padding-left: 215px;
  margin-bottom: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 790px;
  grid-template-columns: 1fr 790px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.about__title {
  margin: 0;
}

.about__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

/*                 SERVICES            */

.services {
  margin-bottom: 230px;
}

.services__title {
  margin-bottom: 60px;
}

.services__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 369px);
  gap: 30px;
}

.services__item {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #FCB427;
}

.services__text {
  padding: 0 20px;
}

/*                RENT              */
.rent {
  margin-bottom: 130px;
}

.rent__article {
  margin-bottom: 60px;
}
.rent__article p {
  margin-bottom: 30px;
}

.rent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.rent__item {
  position: relative;
  padding-left: 20px;
}
.rent__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #FCB427;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*                ORDER              */
.order {
  position: relative;
  color: #FFFFFF;
  background-color: #2D2D2D;
  background-image: url(../img/order/order-bg.svg);
  background-position-x: right;
  background-repeat: no-repeat;
}
.order::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 35px;
  background-image: url(../img/order/order-bg-top.svg);
  background-repeat: no-repeat;
}
.order::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-image: url(../img/order/order-bg-bot.svg);
  background-repeat: no-repeat;
}

.order__title {
  padding-top: 70px;
  font-size: 33px;
}

.order__text {
  max-width: 570px;
  margin-bottom: 30px;
}

.order__form {
  width: 490px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.order__form input, .order__form textarea {
  width: 100%;
  padding-left: 15px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  background: transparent;
  border: 1px solid #C4C4C4;
}
.order__form input {
  height: 50px;
}
.order__form textarea {
  padding-top: 10px;
}
.order__form .order__check .main-check {
  position: absolute;
  width: 18px;
  height: 18px;
  border: none;
}

.order__check {
  position: relative;
  top: -10px;
  padding-left: 30px;
  font-size: 14px;
}
.order__check .main-check__box {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #C4C4C4;
}

.order__btn {
  width: 100%;
  margin-bottom: 70px;
}

/*                FOOTER              */
.footer {
  padding-top: 40px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #2D2D2D;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 190px 540px 1fr;
  grid-template-columns: 190px 540px 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__logo {
  width: 170px;
  margin-top: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.footer__text {
  margin: 0;
  line-height: 1.4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 11px;
}

.footer__copyright {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 10px;
  margin-bottom: 50px;
}

.footer__nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__btn {
  width: 170px;
  height: 40px;
  margin: 20px 0;
  color: #2D2D2D;
  background-color: #FFFFFF;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  width: 24px;
  height: 24px;
}

/*                HEADER              */
/*                COMPANY              */
/*                COMPANY              */
/*                COMPANY              */
.company {
  position: relative;
  margin-bottom: 150px;
}

.company__text-container {
  max-width: 540px;
}

.company__text {
  margin-bottom: 30px;
}

.company__list {
  list-style: disc;
  padding-left: 20px;
}

.company__img {
  position: absolute;
  bottom: 0;
  right: -215px;
}

.reviews {
  margin-bottom: 100px;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  overflow: hidden;
}

.reviews__item {
  min-width: 370px;
}

.facts {
  margin-bottom: 200px;
}
.facts h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/*        COMPANY-CONTACTS              */
/*                OBJECTS              */
/*                OBJECTS              */
/*                OBJECTS              */
.objects {
  margin-bottom: 100px;
}

.objects__title {
  font-size: 44px;
}

.objects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.objects__description {
  padding: 0 20px;
}

.objects__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: #2D2D2D;
  background: transparent;
  border: 1px solid #FCB427;
}

.page-nav {
  font-size: 12px;
  font-weight: 500;
}
.page-nav a:last-child {
  color: #898989;
}

/*                BLOG              */
/*                BLOG              */
/*                BLOG              */
.blog {
  margin-bottom: 100px;
}

.blog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.blog-card__container {
  padding: 0 30px;
}

.blog-card__title {
  font-size: 18px;
  font-weight: 700;
}

.blog-card__description {
  margin-bottom: 20px;
}

.blog-card__btn {
  width: 200px;
  height: 45px;
}

.blog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

/*                BLOG-PAGE              */
.article-rent img {
  margin-right: 17px;
}

.article-rent__text {
  margin-bottom: 30px;
}

.article-rent__list,
.article-advantages__list {
  padding-left: 20px;
  margin-bottom: 30px;
  list-style: disc;
}

.article-more .blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.article-more .blog__list li {
  min-width: 370px;
}

/*                CONTACTS              */
/*                CONTACTS              */
/*                CONTACTS              */
.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 470px;
  grid-template-columns: 1fr 470px;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.contacts__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.contacts__item {
  padding-left: 40px;
  position: relative;
}
.contacts__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg/contacts-point.svg);
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contacts__adress {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contacts__phone {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}
.contacts__phone a {
  display: block;
}
.contacts__phone::after {
  background-image: url(../img/svg/contacts-phone.svg);
}

.contacts__email::after {
  background-image: url(../img/svg/contacts-mail.svg);
}

.contacts__time {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.contacts__time::after {
  background-image: url(../img/svg/contacts-clock.svg);
}

.contacts__requisites::after {
  background-image: url(../img/svg/contacts-file.svg);
}

.contacts__form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.contact-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form__phone,
.contact-form__mail {
  width: 220px;
}

.contact-form__name,
.contact-form__text,
.contact-form__btn {
  width: 100%;
}

.contact-form__name,
.contact-form__phone,
.contact-form__mail,
.contact-form__text {
  height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: inherit;
  border: 1px solid #C4C4C4;
}

.contact-form__text {
  height: 140px;
  padding-top: 15px;
  font-size: 16px;
}

.contact-form__check {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
}
.contact-form__check .main-check__box {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=style.css.map */
