.call {
  margin-bottom: 160px;
  background: {
    image: url(../img/svg/call-bg.svg);
    repeat: no-repeat;
    position-x: right;
  }
  border-top: 30px solid #FCD127;
  border-bottom: 30px solid #FCD127;
}

.call__title {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 33px;
  & span{
    color: $yellow;
  }
}
.call__form {
  position: relative;
  & input,
  & button {
    width: 300px;
    height: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
  }
  & .call__check input {
    position: absolute;
  }
}
.call__check {
  position: relative;
  display: block;
  max-width: 420px;
  padding-left: 30px;
  margin-bottom: 35px;
  font-family: $font-rob;
  font-weight: 300;
  font-size: 11px;
  & .main-check__box {
    position: absolute;
    left: 0;
    top: 50%;
  }
}

.main-check {
  appearance: none;
}

.main-check__box {
  display: block;
  width: 18px;
  height: 18px;

  border: 1px solid $black-light;
  border-radius: 2px;
}

.main-check:checked + .main-check__box {
  background: {
    image: url(../img/svg/check.svg);
    repeat: no-repeat;
    position: center;
  }
}

.main-check:focus + .main-check__box {
  border: 1px solid $orange;
}

.call__btn {
}



@media (max-width: 1024px) {
  .call {
    margin-bottom: 160px;
    background: {
      position: 400px 100%;
    }
  }
}

@media (max-width: 768px) {
  .call__form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    & input,
    & button {
      width: 300px;
      height: 50px;
      margin-right: 30px;
      margin-bottom: 30px;
      padding-left: 15px;
    }
  }
}

@media (max-width: 425px) {
  .call__form {
    width: 250px;
    & input,
    & button {
      width: 250px;
    }
  }
}
