.offer {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.offer__slider {
    display: flex;
    transition: all 0.3s ease;
}

.offer__container {
  position: relative;
  height: 600px;
  min-width: 100%;
  display: flex;
  background: {
    image: url(../img/offer/offer-desctope.webp);
    repeat: no-repeat;
    position: right;
  }
  //transition: all 3s ease-in;
}
.offer__overlay {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}
.offer__content {
  margin-right: 65px;
  padding: 0 15px;
}
.offer__title {
  font-family: 'PT Sans', sans-serif;
  font-size: $fz-h1;
  line-height: 1.4;
}
.offer__text {
  margin-bottom: 25px;
}
.offer__btn {
  margin-right: 25px;
  margin-bottom: 25px;
  &:last-child{
    margin-right: 0;
    border: 1px solid $black;
  }
}

.offer__slider-btn {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
  display: flex;
  & button{
    width: 66px;
    height: 66px;
    background: {
      color: $yellow;
      image: url(../img/svg/arrow.svg);
      repeat: no-repeat;
      position: center;
    }
  }
  & button:disabled{
    background-color: $gray;
  }
}
.slider__btn{

}

.offer__slider-btn--next{
  transform: rotateY(180deg);
}

@media (max-width: 1170px) {
  .offer__overlay {
    width: 60%;
  }
  .offer__content {
    margin-right: 15px;
  }
  .offer__slider-btn {
    left: 60%;
  }
}

@media (max-width: 1024px) {
  .offer__container {
  background-position-x: 70%;
  }
  .offer__overlay {
    width: 65%;
  }
  .offer__content {
    margin-right: 0;
  }
  .offer__slider-btn {
    left: 65%;
  }
}

@media (max-width: 860px) {
  .offer__content {
    padding-right: 5px;
  }
  .offer__btn {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .offer__container {
    background: {
      image: url(../img/offer/offer-tablet.webp);
      position: left;
    }
  }
  .offer__overlay {
    width: 70%;
  }
  .offer__slider-btn {
    left: 70%;
  }
}

@media (max-width: 570px) {
  .offer__overlay {
    width: 100%;
  }
  .offer__slider-btn {
    display: none;
  }
}

@media (max-width: 425px) {
  .offer__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
