//Переменные
$black: #2D2D2D;
$black-light: #535554;
$yellow: #FCB427;
$orange: #FF971D;
$white: #FFFFFF;
$gray: #C4C4C4;

$font-PT: 'PT Sans', sans-serif;
$font-rob: 'Roboto', sans-serif;

$fz-h1: 44px;
$fz-title: 40px;
$fz-text: 16px;

