
.objects {
  margin-bottom: 100px;
}
.objects__title {
  font-size: 44px;
}

.objects__list {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}
.objects__item {
}
.objects__description {
  padding: 0 20px;
}
.objects__btn{
  display: flex;
  margin: 0 auto;
  color: $black;
  background: transparent;
  border: 1px solid $yellow;
}

.page-nav {
  font-size: 12px;
  font-weight: 500;
  & a:last-child {
    color: #898989;
  }
}

@media (max-width: 860px) {

}
