.header {
}

.header__top {
  font-size: 14px;
  color: $white;
  background-color: $black;
}
.header__top-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
}
.header__text {

}

.header__time {
}
.header__adress {
}
.header__btn {
  width: 205px;
  height: 43px;
  color: $white;
}

.header__phone {
  display: flex;
  flex-direction: column;

  font-size: $fz-text;
}

.header__time,
.header__adress,
.header__phone {
  position: relative;
  padding-left: 30px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -0;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    background: {
      image: url(../img/svg/clock.svg);
      repeat: no-repeat;
    }
  }
}

.header__adress::after{
  background-image: url(../img/svg/point.svg);
}

.header__phone::after{
  background-image: url(../img/svg/phone.svg);
}

.header__bottom {
}
.header__bottom-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-btn,
.header__menu-overlay {
  display: none;
}
.header__nav {
}
.header__list {
  display: flex;
  gap: 30px;
  margin: 25px 0;
  font-weight: 500;
}
.header__item.header__item--active {
  font-weight: 500;
  color: #000000;
  border-bottom: 2px solid $yellow;
}
.header__link {
}
.header__search{
  position: relative;
  & input{
    width: 270px;
    height: 30px;
    padding-left: 15px;

    outline: none;
    background: transparent;
    border: 1px solid rgba(45, 45, 45, 0.6);
  }
  & button{
    position: absolute;
    top: 50%;
    right: 0;

    height: 30px;
    width: 30px;

    background: {
      image: url(../img/svg/search.svg);
      repeat: no-repeat;
      position: center;
    }
    cursor: pointer;
    transform: translateY(-50%);
    border: none;
  }
}

@media (max-width: 1170px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header__list {
    gap: 15px;
  }
  .header__search {
    & input {
      width: 200px;
    }
  }
}


@media (max-width: 860px) {
  .header__time {
    display: none;
  }
  .header__search {
    & input {
      width: 270px;
    }
  }
  .header__nav {
    display: none;
  }
  .header__menu-btn {
    position: relative;

    display: block;
    width: 60px;
    height: 40px;
    &::before,
    &::after,
    & span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;

      background-color: $black;
      border-radius: 2px;
      transition: all 0.3s ease 0s;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    & span {
      top: 50%;
      transform: scale(1) translateY(-50%);
    }
    &::after {
      top: 100%;
    }
  }
  .header__menu-btn.--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
    }
    & span {
      transform: scale(0) translateY(-50%);
    }
    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
  .header__search {
    margin: 22px 0;
  }
}

@media (max-width: 768px) {
  .header__top-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__text {
    margin-left: 30px;
    margin-right: auto;
  }

  .header__adress {
    display: none;
  }
}

@media (max-width: 570px) {
  .header__top-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .header__phone {
    grid-column: 1/3;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .header__search {
    & input {
      width: 130px;
    }
  }
}

