.btn{
  display: inline-flex;
  width: 220px;
  height: 50px;
  justify-content: center;
  align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $white;

  background-color: $yellow;
  &:hover,
  &:active{
    background-color: $orange;
  }
}

.btn--transparent {
  color: $black;
  background-color: transparent;
  border: 1px solid $yellow;
}

.slider-control{
  width: 120px;
  margin-left: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  & button{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid $yellow;
    background-color: transparent;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: -50%;
      width: 30px;
      height: 8px;
      background: {
        image: url(../img/svg/arrow-long.svg);
        repeat: no-repeat;
      }
      transform: translateY(-50%);
    }
  }
  & button.btn-prew::after{
    left: 75%;
    transform: rotateY(180deg) translateY(-50%);
  }
}
