.company {
  position: relative;
  margin-bottom: 150px;
}
.company__title {

}
.company__text-container {
  max-width: 540px;
}
.company__text {
  margin-bottom: 30px;
}
.company__list {
  list-style: disc;
  padding-left: 20px;
}

.company__img {
  position: absolute;
  bottom: 0;
  right: -215px;
}

.reviews{
  margin-bottom: 100px;
}

.reviews__control {
}
.reviews__list {
  display: flex;
  column-gap: 30px;
  overflow: hidden;
}
.reviews__item {
  min-width: 370px;
}

.facts{
 margin-bottom: 200px;
 & h3 {
  font-family: $font-PT;
  font-size: 28px;
  font-weight: 700;
}
}
