.company {
  margin-bottom: 150px;
  max-width: 1400px;
  padding-left: 15px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 790px;
  column-gap: 40px;
}
.company__title {

}
.company__text-container {
  grid-column: 1/2;
}
.company__text {
  margin-bottom: 30px;
}
.company__list {
  list-style: disc;
  padding-left: 20px;
}

.company__img {

}

.reviews{
  margin-bottom: 100px;
}

.reviews__control {
}
.reviews__list {
  display: flex;
  column-gap: 30px;
  overflow: hidden;
}
.reviews__item {
  min-width: 370px;
}

.facts{
 margin-bottom: 200px;
 & h3 {
  font-family: $font-PT;
  font-size: 28px;
  font-weight: 700;
}
}

@media (max-width: 1170px) {
  .company {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 1024px) {
  .company {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .company__img {
    margin: 0 auto;
    grid-row: 2/3;
  }
}
